@import '~/view/styles/mixins';

.header {
  height: 68px;
  background-color: var(--bg-color-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

.header--not-logged-in {
  @include mobile {
    padding-left: 13px;
    padding-right: 11px;
  }
}

.header--logged-in {
  @include mobile {
    padding-left: 13px;
    padding-right: 20px;
  }
}

.header__column-wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 126px;
  height: 33px;
  object-fit: contain;
  cursor: pointer;
}

.header__links-wrapper {
  display: flex;
  align-items: center;
  margin-left: 100px;
  @media (min-width: 1400px) and( max-width:1600px) {
    margin-left: 50px;
  }
  @media (max-width: 1200px) {
    margin-left: 20px;
  }
}

.header__link {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  color: var(--secondary-text-color);
  text-decoration: none;
  margin-right: 60px;
  @media (min-width: 1400px) and( max-width:1600px) {
    margin-right: 30px;
  }
}

.header__link--with-dropdown {
  font-weight: 600;
  font-size: 14px;
  line-height: 23px;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.header__link--active {
  color: var(--accent-color);
}

.header__notification-button {
  position: relative;
  border-radius: 10px;
  background-color: var(--bg-color-4);
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__notification-icon {
  color: var(--secondary-text-color);
  width: 14px;
  height: 12px;
}

.header__notification-indicator {
  position: absolute;
  top: -4px;
  right: -7px;
  width: 13px;
  height: 13px;
  background-color: var(--bg-color-5);
  border: 2px solid var(--border-color-2);
  border-radius: 50%;
}

.header__user-info-wrapper {
  margin-left: 32px;
}

.header__account-dropdown {
  margin-left: 30px;
}

.header__menu-button {
  display: none;
  padding: 5px;
  margin-left: 21px;
}

.header__menu-icon {
  width: 16px;
  height: 13px;
  color: var(--secondary-text-color);
}

.header__admin-mobile-breakpoint--hide {
  @media (max-width: 1400px) {
    display: none;
  }
}

.header__admin-mobile-breakpoint--show {
  @media (max-width: 1400px) {
    display: flex;
  }
}

.header__candidate-mobile-breakpoint--hide {
  @media (max-width: 1100px) {
    display: none;
  }
}

.header__candidate-mobile-breakpoint--show {
  @media (max-width: 1100px) {
    display: flex;
  }
}

.header__assigned-wrapper {
  display: flex;
  align-items: center;
  margin-right: 32px;
  cursor: pointer;

  @include mobile {
    margin-right: 5px;
  }
}

.header__assigned-text {
  margin-right: 10px;
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: var(--caption-font-size);

  @include mobile {
    margin-right: 5px;
  }
}
