.page__title {
  font-weight: bold;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.page__search-box {
  display: flex;
  height: 64px;
  background-color: var(--secondary-text-color);
  border-radius: 12px;
  padding-left: 25px;
  margin-bottom: 10px;
}

.page__search-input {
  width: 100%;
}
