.my-records__body-content {
  position: relative;
  margin-bottom: 25px;
}

.my-records__body-content-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my-records__body-content-block-children {
  display: flex;
  flex-direction: column;
}

.my-records__body-content-user {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  padding: 20px 0;
}

.my-records__body-content-user-image {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  object-fit: cover;
  margin-top: 5px;
}

.my-records__body-content-user-block {
  display: flex;
  gap: 7px;
}

.my-records__body-content-user-name {
  font-weight: 500;
  color: var(--primary-color);
}

.my-records__body-content-user-date {
  font-size: var(--caption-font-size);
  line-height: 18px;
  color: var(--color-7);
}

.my-records__body-content-user-message {
  margin-top: 4px;
  color: var(--secondary-color);
  max-width: 715px;
  line-height: 27px;
  word-break: break-word;
  margin-right: 10px;
}

.my-records__no-record-message {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  color: var(--secondary-color);
  text-align: center;
}

.my-records__record {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  color: var(--secondary-color);
  white-space: break-spaces;
  word-break: break-all;
}

.my-records__dots-dropdown {
  position: absolute;
  top: 20px;
  right: 0px;
  > div {
    top: 0%;
    right: 70%;
  }
}

.my-records__body-content-user-info {
  width: 100%;
  overflow: hidden;
}
