.dropdown {
  margin: 10px 0 15px 0;
  padding: 15px;
  background: #ffffff;
  border: 1px solid #e3e8f1;
  box-shadow: inset 0px 1px 5px rgba(188, 196, 208, 0.2);
  border-radius: 6px;
}

.dropdown__label {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  &:last-child {
    margin-top: 18px;
  }
}

.dropdown__label-title {
  width: 5%;
  margin-right: 25px;
  color: var(--secondary-color);
  font-size: 16px;
  line-height: 20px;
}

.dropdown__list {
  list-style: none;
}

.dropdown__list-item:not(:last-child) {
  margin-bottom: 8px;
}
