@font-face {
  font-family: 'Mukta';
  src: url('~/view/assets/fonts/Mukta-ExtraLight.ttf'); // if you have resolve error - ignore it
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('~/view/assets/fonts/Mukta-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('~/view/assets/fonts/Mukta-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('~/view/assets/fonts/Mukta-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('~/view/assets/fonts/Mukta-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('~/view/assets/fonts/Mukta-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('~/view/assets/fonts/Mukta-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}
