@import '~/view/styles/mixins';

.modal {
  width: 806px;

  @media (max-width: 900) {
    width: 100%;
  }
}

.modal__header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  @include mobile {
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}

.modal__company-logo {
  width: 55px;
  height: 55px;
  margin-right: 18px;
  border-radius: 14px;
}

.modal__job-position {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal__company-site {
  color: var(--secondary-color);
  font-size: 14px;
  font-weight: var(--bold-fs);
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modal__tabs {
  margin-bottom: 33px;
}

.modal__footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 0;
  width: 736px;
  background-color: #fff;
  border-top: 1px solid var(--bg-color-8);

  @include mobile {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -20px;
    padding: 13px 20px;
  }
}

.modal__action-btn {
  width: 162px;
  height: 55px;
  margin-right: 11px;

  @include mobile {
    width: 100%;
  }
}

.modal__action-btn--completed {
  background-color: #ffac7e;
  pointer-events: none;

  &:hover {
    background-color: #ffac7e;
  }
}

.modal__job-info {
  @include mobile {
    width: 76%;
  }
}

.modal__job-match {
  width: 92px;
  height: 40px;
  margin-left: auto;
  padding: 8px 12px;
  color: var(--color-3);
  background-color: var(--bg-color-15);
  font-size: 14px;
  font-weight: var(--bols-fs);
  line-height: 24px;
  border-radius: 6px;

  @include mobile {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }
}

.modal__footer-disclose {
  display: flex;
  align-items: center;

  @include mobile {
    margin: 0 0 20px 0;
  }
}

.modal__footer-disclose-label {
  margin-left: 10px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 20px;
}

.modal__disclose-error-warning {
  color: var(--error-color);
}

.modal__checkmark-icon {
  width: 12px;
  height: 8px;
  margin-right: 6px;
}

.modal__edit-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 11px 16px;
  margin-left: auto;
  color: var(--primary-color);

  @include mobile {
    width: 100%;
    margin-top: 20px;
    justify-content: center;
  }
}

.modal__edit-btn-icon {
  width: 12px;
  height: 17px;

  @include mobile {
    margin-right: 7px;
  }
}

.modal__tabs {
  margin-bottom: 30px;
}
