.page {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.page__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--primary-color);
}

.page__save-btn {
  margin-left: auto;
  margin-top: auto;
}

.page__no-video-message {
  color: var(--secondary-color);
}
