.card {
  position: relative;
  width: calc(25% - 14px);
  border-radius: 12px;
  background-color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 4px 13px rgba(34, 33, 50, 0.05);
  &--inner {
    padding: 29px 25px;
    cursor: pointer;
  }

  &--location {
    &-info {
      display: flex;
      align-items: center;
      margin-top: 6px;
    }
    &-icon {
      width: 18px;
      height: 18px;
      color: var(--bg-color-6);
    }
  }
  &--job {
    background-color: var(--secondary-text-color);
    border: 1px solid rgba(227, 232, 241, 0.4);
    box-shadow: 0 2px 6px rgba(231, 236, 245, 0.5);
    border-radius: 6px;
    padding: 12px;
    margin: 12px 0;
    &-center {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 3px 0 11px;
    }
    &-name {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: var(--primary-color);
    }
    &-name2 {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: var(--secondary-color);
    }
    &-separator {
      background-color: var(--border-light-color);
      width: 1px;
      height: 18px;
    }
    &-salary {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 16px;
      color: var(--primary-color);
    }
    &-type {
      background: #f5f6fb;
      border-radius: 6px;
      padding: 7px 12px;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 23px;
      color: var(--bg-color-6);
      width: max-content;
    }
    &-more {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: var(--bg-primary-color);
      text-align: center;
      cursor: pointer;
    }
  }
  &--add {
    border-top: 1.45652px solid #e3e8f1;
    padding: 20px;
    &-button {
      width: 100%;
    }
  }
}

.card__dropdown {
  position: absolute;
  top: 29px;
  right: 25px;
  div {
    top: 5%;
    right: 70%;
    button {
      &:last-child {
        padding-left: 14px;
        color: var(--bg-color-5);
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

.card__user-img {
  width: 50px;
  height: 50px;
  border-radius: 9px;
  object-fit: cover;
  margin-right: 15px;
}

.card__user-general-info {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.card__user-name {
  font-size: 24px;
  color: var(--primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__user-personal-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(100% - 80px);
}

.card__user-experience {
  margin-top: 18px;
}

.card__pref-info-title {
  margin-top: 22px;
  color: var(--secondary-color);

  &:first-child {
    margin-top: 32px;
  }
}

.card__user-location-info {
  display: flex;
  align-items: center;
  margin-top: 6px;
}
.card__user-location-name {
  font-weight: var(--bold-fs);
  font-size: var(--h5-font-size);
  line-height: 27px;
  color: var(--primary-color);
  margin-left: 8px;
  max-width: 250px;
}

.card__user-tags {
  display: flex;
  margin-top: 10px;

  & div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & div:not(:last-child) {
    margin-right: 10px;
  }
}

.card__user-tags--extra {
  overflow: visible !important;
}

.card__user-status-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.card__user-salary-info {
  color: var(--secondary-color);
  font-weight: var(--bold-fs);
  font-size: 16px;

  & span {
    color: var(--primary-color);
    font-size: 22px;
  }
}

@media (max-width: 1300px) {
  .card {
    width: calc(33% - 10px);
  }
}

@media (max-width: 1000px) {
  .card {
    width: calc(50% - 10px);
  }
}
