.week-picker {
  position: absolute;
  right: 20%;
  top: 34%;
  z-index: 2;
  background: var(--secondary-text-color);
  border: 1px solid var(--border-light-color);
  border-radius: 6px;
}
