@import '~/view/styles/mixins';

.page {
  &__title {
    font-weight: bold;
    font-size: var(--h1-font-size);
    line-height: var(--h1-line-height);
    color: var(--primary-color);
    margin-bottom: 5px;
  }

  &__subtitle {
    font-size: var(--paragraph-font-size);
    line-height: var(--paragraph-line-height);
    color: var(--secondary-color);
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__email-input {
    margin-bottom: 24px;

    @include mobile {
      margin-bottom: 20px;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: flex-end;
    &__reset {
      width: 305px;

      @include mobile {
        width: 100%;
      }
    }
  }
}
