.select__wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.select__body {
  display: flex;
  align-items: center;
  padding: 9.5px 20px;
  border: 1px solid var(--border-color-4);
  border-radius: 6px;
  width: 100%;
}

.select__wrapper:first-of-type {
  margin-right: 15px;
}

.select__label {
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 16px;
  color: var(--secondary-color);
}

.select__icon {
  width: 24px;
  height: 24px;
  color: var(--secondary-color);
}

.select__custom-select {
  width: 100%;
}
