@import '~/view/styles/mixins';

.tabs-wrapper {
  overflow-x: auto;
}

.tabs-wrapper__tabs {
  position: relative;
  display: flex;
}

.tabs-wrapper__tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 15px;
  font-size: var(--h5-font-size);
  line-height: var(--h5-line-height);
  font-weight: 500;
  color: var(--secondary-color);
  white-space: nowrap;
  margin-right: 50px;

  &:last-of-type {
    margin-right: 0px;
  }

  @include mobile {
    margin-right: 30px;
  }
}

.tabs-wrapper__tab--active {
  color: var(--primary-color);
}

.tabs-wrapper__tab--secondary {
  color: #b8b9bf;
}

.tabs-wrapper__tab--secondary-active {
  color: #fff;
}

.tabs-wrapper__tab-badge {
  background-color: var(--color-6);
  width: 19px;
  height: 18px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}

.tabs-wrapper__tab-badge--secondary {
  width: 31px;
  height: 22px;
  color: #93a6f2;
  background-color: #373d68;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
}

.tabs-wrapper__line {
  position: relative;
  height: 3px;
  background-color: var(--bg-color-8);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs-wrapper__line--secondary {
  background-color: #373d68;
}

.tabs-wrapper__active-line {
  position: absolute;
  top: 0px;
  height: 3px;
  background-color: var(--bg-color-6);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition-duration: 0.4s;
}
