@import '~/view/styles/mixins';

.page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.page__header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  @include mobile {
    align-items: flex-start;
  }
}

.page__title {
  font-weight: bold;
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  color: var(--primary-color);
}

.page__title--edit-mode {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  color: var(--primary-color);
}

.page__order-number {
  font-weight: bold;
  font-size: 28px;
  line-height: 47px;
  color: var(--primary-color);

  > span {
    color: var(--secondary-color);
  }

  @include mobile {
    font-size: 24px;
    line-height: 40px;
  }
}

.page__subtitle {
  font-size: var(--paragraph-font-size);
  line-height: var(--paragraph-line-height);
  color: var(--secondary-color);
  margin-bottom: 33px;

  @include mobile {
    margin-bottom: 25px;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.page {
  &--field {
    margin-top: 24px;
    width: 100%;
  }
  &--address {
    &-hint {
      margin-top: 10px;
      font-weight: normal;
      font-size: var(--caption-font-size);
      line-height: var(--caption-line-height);
      color: var(--muted-text-color);
    }
  }
  &--double-column {
    display: flex;
    gap: 16px;
  }
  &--btn {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
  }
}
