.status-btn {
  padding: 8px 16px;
  border-radius: 3px;
  font-weight: var(--bold-fs);
  font-size: 14px;
  opacity: 0.8;
}

.status-btn--active {
  color: var(--color-16);
  border: 1px solid var(--border-color-6);
}

.status-btn--disable {
  color: red;
  border: 1px solid red;
}
