.modal__description {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 27px;
  color: var(--secondary-color);
}

.modal__textarea {
  height: 280px;
}

.modal__submit-btn {
  width: 100%;
  margin-top: 30px;
}
