.select__wrapper {
  width: 100%;
  margin-bottom: 20px;
}

.select__body {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--secondary-text-color);
  border-radius: 6px;
  width: 100%;
  border: 1px solid var(--border-color-4);
  padding: 9.5px 20px;
  border-radius: 6px;
  cursor: pointer;
  &-icon {
    width: 20px;
    height: 20px;
    color: var(--secondary-color);
    margin-bottom: 2px;
  }
}

.select__custom-select {
  font-size: var(--caption-font-size);
}

.select__label {
  margin-bottom: 10px;
  line-height: 20px;
  font-size: 16px;
  color: var(--secondary-color);
}

.select__custom-select {
  width: 100%;
  caret-color: transparent;
  cursor: pointer;
}
.select-option {
  color: var(--primary-color);
  font-size: var(--caption-font-size);
  line-height: 16px;

  &__input {
    width: 24px;
    height: 24px;
    background-color: var(--color-8);
    border-radius: 4px;
    vertical-align: middle;
    border: 1px solid var(--border-light-color);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    padding: 3px;
    position: relative;
  }

  &__input:checked {
    background-color: var(--bg-primary-color);
    &::after {
      content: url('../../../../../../../assets/icons/checkmark.svg');
      position: absolute;
      width: 8px;
      height: 8px;
      color: var(--secondary-text-color);
      top: -4px;
      left: 5px;
    }
  }
}
.select-option__name {
  position: relative;
}

.select__custom-select--value:nth-child(1) {
  span {
    display: none;
  }
}

.select__custom-select--value:nth-child(2) {
  span {
    display: none;
  }
}
.select__custom-select--value:nth-child(3) {
  span {
    display: block;
    color: var(--accent-color);
    position: absolute;
    top: 40%;
    right: 40px;
  }
}
