@import '~/view/styles/mixins';

.modal-manager {
  width: 705px;
  padding: 40px;
  max-height: 73vh;

  &__body {
    &-header {
      > p {
        color: var(--secondary-color);
        line-height: 27px;
      }
    }
    &-form-input {
      margin-top: 24px;
    }
    &-button {
      width: 100%;
      margin-top: 30px;
    }
  }
}

.modal-manager__body-form-input--flex {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  column-gap: 24px;
  margin-top: 24px;
}

.page__field {
  margin-top: 24px;

  @include mobile {
    margin-top: 20px;
  }
}

.modal-manager__body-form-input--flex {
  display: grid;
  grid-template-columns: 2.2fr 1fr;
  column-gap: 24px;
  margin-top: 24px;
}

.page__field-label {
  font-size: var(--label-font-size);
  line-height: var(--label-line-height);
  color: var(--muted-text-color);
  margin-bottom: 10px;
}

.page__position-types-wrapper {
  display: flex;
  align-items: center;
}

.page__position-type {
  display: flex;
  align-items: center;
  margin-right: 24px;
  cursor: pointer;

  &:last-of-type {
    margin-right: 0px;
  }
}

.page__position-type-label {
  font-size: 18px;
  line-height: 20px;
  color: var(--primary-color);
  margin-left: 10px;
}
