.container {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  column-gap: 25px;
  align-items: center;
  margin-top: 10px;
}

.remove-icon {
  width: 24px;
  height: 24px;
  margin-top: 10px;
  cursor: pointer;
}
