.modal-info {
  &__body {
    &-title {
      display: flex;
      justify-content: center;
      h2 {
        font-weight: bold;
        font-size: var(--h3-font-size);
        line-height: var(--h3-line-height);
        text-align: center;
        color: var(--primary-color);
        width: 90%;
      }
    }
    &-button {
      margin-top: 20px;
      width: 100%;
    }
  }
}
